.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.6rem;
  background-color: #e10075 ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  transition: background-color 0.3s ease;

  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }

  .buttons {
    .navigation-button {
      display: flex;
      align-items: center;
      padding: 0.3rem 1rem;
      border: 1px solid;
      border-radius: 10px;
      background-color: #fff;
      color: black;
      font-weight: bold;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: #e10075;
      }
    }

    .disabled {
      background-color: #ccc;
      color: #888;
      cursor: not-allowed;

      &:hover {
        color: #888;
      }
    }

    display: flex;
    gap: 1rem;
  }

  .buttons-container {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }

  .header-icon {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
  }
}