.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .buttons {

      .navigation-button {
        padding: 0.5rem 3rem;
        border: 1px solid;
        border-radius: 10px;
        background: transparent;

        &:hover {
          background-color: aquamarine;
        }
      }
  
      display: flex;
      gap: 1rem;
    }
 }